<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Page3</title>
	<link rel="stylesheet" href="/static/css/GlobalTest.css">
</head>
<body>
	<div class="D1">
		<div class="D2">
			<h3>H3</h3>
			<form method="POST">
				<label>what is your name?</label><br />
				<input type="text" name="Uname"><br />
				<label>what is your fav color</label><br />
				<input type="text" name="Color"><br />
				<h3>List Three things you like doing</h3>
				<label>First</label><br />
				<input type="text" name="F1"><br />
				<label>Second</label><br />
				<input type="text" name="F2"><br />
				<label>Third</label><br />
				<input type="text" name="F3"><br />
				<input type="submit">
			</form>
		</div>
	</div>
	<div class="D1">
		<div class="D2">
			<h3>H3</h3>
			<p>
				<a href="">Click me</a>
			</p>
		</div>
	</div>

</body>
<footer>
	<div class="F1">
		<h3>FH3</h3>
		<p>Footer</p>
	</div>
</footer>
</html>